@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-outfit{
    @apply font-[Outfit]
}

.font-sora{
    @apply font-[Sora]
}

body{
    background-color: #0E0F1A;
}

::selection{
    background-color: #6852C0;
    color: #fff;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 0;
}


main {
  color: white;
  z-index: 1;
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
